extends layout

block content
    h1= title
    .contenainer-fluid
        .row-fluid
            .span3
                ul
                    -each category in categories.rows
                        li!=category.key[1]


            .span7
