doctype 5
html
    head
        title= title
        link(href='/css/bootstrap.css', rel='stylesheet')
        link(href='/css/bootstrap-responsive.css', rel='stylesheet')
        //link(href='/css/docs.css', rel='stylesheet')
        block head
    body
        .navbar.navbar-static-top.navbar-inverse
            .navbar-inner
                .container-fluid
                    a.brand(href="/") Store
                    -if (!locals.disableSearch)
                        form.navbar-search.pull-left(method='GET', action='/search')
                            input#slosilo-search.search-query(name='q', type="text", placeholder="Search", data-provide="typeahead")
                    ul.nav
                        li.divider-vertical
                            a(href="/help") Help
        .container
            .row
                .span4
                    include partials/category-list
                .span8
                    block content
        script(type='text/javascript', src='/js/uuid.js')
        script(type='text/javascript', src='/js/jquery-1.9.0.js')
        script(type='text/javascript', src='/js/knockout-2.2.1.debug.js')
        script(type='text/javascript', src='/js/knockout.mapping-latest.debug.js')
        script(type='text/javascript', src='/js/knockout.extensions.js')
        script(type='text/javascript', src='/js/ko.editables.js')
        script(type='text/javascript', src='/js/knockout.validation.v0.9.js')
        script(type='text/javascript', src='/js/bootstrap.js')
        script(type='text/javascript', src='/js/energy.js')
        block scripts
